.OrderItem {
  margin: 10px 0 20px;
  padding: 10px;
  border: 2px solid #444;
  background-color: #fafafa;
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.OrderItemDelivery {
  margin: 10px 0 5px;
  padding-top: 10px;
  border-top: 1px solid #aaa;
  display: flex;
}

.OrderItemTotal {
  display: flex;
}

.OrderItemDelivery :first-child,
.OrderItemTotal :first-child {
  flex-grow: 1;
}

.OrderItemTotal :first-child {
  font-weight: bold;
}

.OrderItemDelivery :last-child,
.OrderItemTotal :last-child {
  font-weight: bold;
}

.OrderItem button {
  /*align-self: flex-end;*/
  padding: 5px 8px;
  margin-top: 10px;
  font-weight: bold;
}


.OrderItem_DishItem {
  margin-bottom: 5px;
  display: flex;
}

.OrderItem_DishItem > * {
  margin-right: 5px;
}

.OrderItem_DishItem > *:last-child {
  margin-right: 0;
}

.OrderItem_DishItemTitle {
  flex-grow: 1;
}