.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px 10px;
  padding: 8px 15px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.35);
}

.Header span {
  font-size: 22px;
}

.Header a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  padding: 3px;
  vertical-align: middle;
  transition: 0.2s;
}

.Header a:hover {
  color: #c22 !important;
  opacity: 0.95;
}

.Header a.active {
  color: #f33;
}