.Dish {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #444;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.15);
}

.Dish img {
  width: 60px;
  height: 60px;
  border: 1px solid #888;
  padding: 3px;
  margin: 0 10px 0 0;
  background-color: #fff;
}

.Dish-title {
  flex-grow: 1;
}

.Dish-price {
  font-weight: bold;
  margin-right: 20px;
}

.Dish button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
}

.Dish button:hover {
  text-decoration: underline;
}