.AddingForm {
  display: none;
  padding: 5px 0;
  height: 40px;
}
.AddingForm > * {
  font-size: 15px;
  overflow: hidden;
}

.AddingForm label {
  flex-basis: 33%;
  border: 1px solid #777;
  padding-left: 5px;
  cursor: text;
  color: #777;
  font-size: 12px;
  display: flex;
  align-items: center;
  position: relative;
}
.AddingForm label input {
  padding: 5px;
  border: none;
  outline: none;
  height: 100%;
  flex-grow: 1;
}

.AddingForm.active {
  display: flex;
  animation: toggleOn 0.2s;
}

@keyframes toggleOn {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 40px;
    opacity: 1;
  }
}

.AddingForm button {
  padding: 0 12px;
}
.AddingForm button.adding {
  background: transparent url(../../../assetts/images/loading.svg) 50% 50% no-repeat;
  background-size: auto 100%;
  border: none;
  color: transparent;
}